% rebase('base.html')
<!-- Main container -->

<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <form method="POST" action="/dodaj/">
                <td></td>
                <td>
                    <div class="control has-icons-left">
                        <input class="input is-small" type="text" name="ime" placeholder="ime">
                        <span class="icon is-small is-left">
                            <i class="far fa-clipboard-check"></i>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="control has-icons-left">
                        <input class="input is-small" type="text" name="besedilo" placeholder="besedilo">
                        <span class="icon is-small is-left">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="control has-icons-left">
                        <input class="input is-small" type="text" name="resitev" placeholder="resitev">
                        <span class="icon is-small is-left">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="control">
                        <button class="button is-info is-small">dodaj</button>
                    </div>
                </td>
            </form>
        </tr>
    </thead>
</table>

